.imagesContainer{
    display:grid;
    grid-gap:15px;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    grid-auto-rows: 190px;
    max-width: 1265px;
    margin:0px auto;
    padding: 10px;
    justify-content: center;
    overflow:hidden;
    .singleImageContainer{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items:center;
        -webkit-filter: grayscale(100%);
        &:hover{
            -webkit-filter:unset;
            cursor: pointer;
        }
    }
}

.galleryUnactive{
    pointer-events: none;
    -webkit-filter: blur(5px);
}

.mainHeading{
    text-align:center;
    font-size:36px;
}