.imageModal {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid black;
  position: fixed;
  background-color: #fff;
  left: 50%;
  top: 50%;
  max-height: 90vh;
  transform: translate(-50%, -50%);
  .closeButton {
    width: 30px;
    height: 30px;
    align-self: flex-end;
    border: 2px solid #bb000e;
    background: unset;
    border-radius: 5px;
    &:hover {
      box-shadow: 0px 0px 5px 0px black;
      cursor: pointer;
    }
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    img {
      width: 100%;
    }
  }
}
